import { Component } from '@angular/core';

@Component({
  selector: 'app-quiz-taking',
  templateUrl: './quiz-taking.component.html',
  styleUrls: ['./quiz-taking.component.scss']
})
export class QuizTakingComponent {}
